/**{
	box-shadow: 0 0 0 1px red
}*/

body{
	text-align: center;
	background: #522e73;
	font-family: 'Ubuntu Mono', monospace;
}
h1{
	color: #41ff00;
	text-shadow: 3px 3px black;
	margin-bottom: 40px;
}
img{
	border: 2px solid white;
	box-shadow: 4px 4px black;
	margin-bottom: 40px;
}
.matn{
	color: #fff;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 60px;
	margin-bottom: 40px;
	background: #ff00bd;
	box-shadow: 4px 4px black;
}
.button a{
	color: white;
	display: inline-block;
	text-decoration: none;
}
.button .red{
	margin: 50px;
	padding: 10px 30px;
	background: #ff0000;
	box-shadow: 4px 4px black;
}
.button .blue{
	padding: 10px 30px;
	background: #0000ff;
	box-shadow: 4px 4px black;	
}